<ion-item lines="full" *ngIf="hasScanNum">
    <ion-label>
        已扫描数量
    </ion-label>
    <ion-label color="primary" slot="end" class="ion-text-right pr-8">{{scanNum}}</ion-label>
</ion-item>
<ion-item lines="full">
    <ion-label>
        物料编码
    </ion-label>
    <ion-label slot="end" class="ion-text-right pr-8">{{materieObj['ItemCode'] || ''}}</ion-label>
</ion-item>
<ion-item lines="full">
    <ion-label>
        序列/批次号
    </ion-label>
    <ion-label slot="end" class="ion-text-right pr-8">{{materieObj['BatchNo'] || ''}}</ion-label>
</ion-item>
<ion-item lines="full">
    <ion-label>
        编号
    </ion-label>
    <ion-label slot="end" class="ion-text-right pr-8">{{materieObj['DocNum'] || ''}}</ion-label>
</ion-item>
<ion-item lines="full">
    <ion-label>
        单号
    </ion-label>
    <ion-label slot="end" class="ion-text-right pr-8">{{materieObj['DocEntry'] || ''}}</ion-label>
</ion-item>
<ion-item lines="full">
    <ion-label>
        行号
    </ion-label>
    <ion-label slot="end" class="ion-text-right pr-8">{{materieObj['Itm'] || ''}}</ion-label>
</ion-item>
<ion-item lines="full">
    <ion-label>
        物料名称
    </ion-label>
    <ion-label slot="end" class="ion-text-right pr-8">{{materieObj['ItemName'] || ''}}</ion-label>
</ion-item>

<ion-item lines="full" *ngIf="infoObj['Whs']">
    <ion-label>
        仓库
    </ion-label>
    <ion-label slot="end" class="ion-text-right pr-8">{{infoObj['Whs'] || ''}}</ion-label>
</ion-item>

<ion-item lines="full" *ngIf="infoObj['Wh_To']">
    <ion-label>
        到仓库
    </ion-label>
    <ion-label slot="end" class="ion-text-right pr-8">{{infoObj['Wh_To'] || ''}}</ion-label>
</ion-item>
<!--<ion-item lines="full">-->
<!--    <ion-label>-->
<!--        物料规格-->
<!--    </ion-label>-->
<!--    <ion-label slot="end" class="ion-text-right pr-8">{{materieObj['GGXH'] || ''}}</ion-label>-->
<!--</ion-item>-->

