<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button mode="md"></ion-back-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-margin ion-text-start scan-from">
        <ion-list>
            <app-scan-input #scanInputView (addBar)="scanInput($event)" [infoObj]="infoObj" [scanType]="scanTypeArr"></app-scan-input>
        </ion-list>
    </div>
    <app-table-edit [columns]="columns" [tableList]="scanList" tableId="retypeId" hasDel="true"></app-table-edit>
</ion-content>
<ion-footer>
    <ion-button expand="block" class="ion-margin" mode='ios' (click)="submit()"
                [disabled]="!scanList.length">
        提交数据
    </ion-button>
</ion-footer>
