<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button mode="md"></ion-back-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="pageType">
        <ion-segment-button value="getOrder">
            <ion-label>扫描界面</ion-label>
        </ion-segment-button>
        <ion-segment-button value="orderDetails">
            <ion-label>汇总界面</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>
    <div *ngIf="pageType== 'getOrder'">
        <div class="ion-margin ion-text-start scan-from">
            <ion-list>
                <app-scan-input [docNum]="publicService.DocNum.SC" (addBar)="scanInput($event)" [infoObj]="infoObj" hasTwoWh="true"
                                [scanType]="scanTypeArr"></app-scan-input>
                <ion-item lines="full">
                    <ion-label>
                        备注
                    </ion-label>
                    <ion-input placeholder="备注" mode="ios"
                               slot="end" class="ion-text-right ion-padding-start" [(ngModel)]="infoObj.remark" [ngModelOptions]="{standalone: true}"></ion-input>
                </ion-item>
                <ion-item lines="full">
                    <ion-label>
                        仓库
                    </ion-label>
                    <ion-label slot="end" class="ion-text-right pr-8">{{infoObj['Whs'] || ''}}</ion-label>
                </ion-item>
                <ion-item lines="full">
                    <ion-label>
                        到仓库
                    </ion-label>
                    <ion-label slot="end" class="ion-text-right pr-8">{{infoObj['Wh_To'] || ''}}</ion-label>
                </ion-item>
                <app-materiel-item [materieObj]="materieObj" [hasScanNum]="false" [hideWh]="true" [infoObj]="infoObj"></app-materiel-item>
            </ion-list>
        </div>
    </div>
    <div *ngIf="pageType==='orderDetails'">
        <app-table [columns]="columns" [tableList]="scanList" tableId="scanId" hasDel="true"></app-table>
    </div>
</ion-content>
<ion-footer>
    <ion-button expand="block" mode='ios' (click)="submit()"
                [disabled]="!scanList.length">
        库存转储
    </ion-button>
</ion-footer>

