<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button mode="md"></ion-back-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="pageType">
        <ion-segment-button value="getOrder">
            <ion-label>扫描界面</ion-label>
        </ion-segment-button>
        <ion-segment-button value="documentDetails">
            <ion-label>单据明细</ion-label>
        </ion-segment-button>
        <ion-segment-button value="orderDetails">
            <ion-label>汇总界面</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>
    <div *ngIf="pageType== 'getOrder'">
        <form class="ion-margin ion-text-start scan-from">
            <ion-list>
                <app-scan-input [docNum]="publicService.DocNum.CGTH" (addBar)="scanInput($event)" [infoObj]="infoObj" (funcDocEntry)="getBillData()"
                                [scanType]="scanTypeArr"></app-scan-input>
                <ion-item lines="full">
                    <ion-label>
                        收货数
                    </ion-label>
                    <ion-input placeholder="收货数" color="primary" (change)="changeQTY($event,'row')" mode="ios"
                               slot="end" type="number"
                               [value]="maxNum"
                               [disabled]="!maxNum || materieObj['BFlag']==='S'"
                               class="ion-text-right ion-padding-start"></ion-input>
                </ion-item>
                <app-materiel-item [scanNum]="scanNum" [materieObj]="materieObj"
                                   [infoObj]="infoObj"></app-materiel-item>
            </ion-list>
        </form>
    </div>
    <div *ngIf="pageType==='documentDetails'">
        <app-table [columns]="documentColumns" [tableList]="documentList" tableId="documentId"></app-table>
    </div>
    <div *ngIf="pageType==='orderDetails'">
        <app-table-kc [columns]="columns" [tableList]="scanList" (changeQTY)="changeQTY($event)" tableId="returnGoodsId"
                      hasDel="true"
                      [documentList]="documentList"></app-table-kc>
    </div>
</ion-content>
<ion-footer>
    <ion-button expand="block" mode='ios' (click)="submit()"
                [disabled]="!scanList.length">
        采购退货
    </ion-button>
</ion-footer>
