.form-input {
  margin-top: 10px;
  margin-bottom: 0;
}

.logo-img {
  height: 60px;
  margin-bottom: 20px;
}

#container {
  padding-top: 10vh;
  text-align: center;
}

ion-button {
  margin-top: 10px;
}

ion-text {
  font-size: var(--small-fontSize);
}
