ion-input{
  border-bottom: 1px solid #ddd;
  padding: 4px;
}
ion-select{
  border-bottom: 1px solid #ddd;
  padding: 4px;
}
.icon{
  height: 14px;
  position: absolute;
  left: 11px;
  bottom: 10px;
}
