<div class="table-box" [id]="tableId" (scroll)="scroll($event)">
    <table cellspacing="0">
        <tr class="tableheader">
            <th *ngFor="let c of columns;let i=index" [class.frozencol]="!i">{{c.name}}</th>
            <th *ngIf="hasDel">操作</th>
        </tr>
        <tr *ngFor="let r of tableList;let num = index">
            <td *ngFor="let c of columns;let i=index" [class.frozencol]="!i">
                <span *ngIf="!c.type">
                    <img src="assets/svg/alert.svg" class="icon" *ngIf="hasWQL && c.prop === 'ItemCode' && r.Quantity < r.SJQty">
                    {{c.prop === 'LineNum' ? r['LineNum'] + 1 : r[c.prop]}}
                </span>
                <ion-input *ngIf="c.type==='input'&&c['inputtype']==='number'" type="number"
                           [disabled]="hasWQL && r.Quantity==0"
                           [(ngModel)]="r[c.prop]"></ion-input>
                <ion-input *ngIf="c.type==='input'&&c['inputtype']!=='number'" type="text"
                           [(ngModel)]="r[c.prop]"></ion-input>
                <ion-select [placeholder]="'选择 '+c.name" *ngIf="c.type==='select'" cancelText="取消" okText="确认"
                            [(ngModel)]="r[c.prop]">
                    <ion-select-option *ngFor="let item of c.arr" [value]="item">{{item}}</ion-select-option>
                </ion-select>
            </td>
            <td *ngIf="hasDel">
                <ion-button expand="block" size="small" mode='ios' color="danger" (click)="delete(num,r)">
                    删除
                </ion-button>
            </td>
        </tr>

        <caption align="bottom" class="no-data" *ngIf="!tableList.length">无数据</caption>
    </table>
</div>
