<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button mode="md"></ion-back-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-margin ion-text-start scan-from">
        <ion-list>
            <app-scan-input [docNum]="publicService.DocNum.CG" [canEnter]="true"  (funcDocEntry)="getBillData()" [infoObj]="infoObj" [scanType]="scanTypeArr"></app-scan-input>
            <ion-item lines="full">
                <ion-label>
                    采购订单号<ion-icon name="accessibility"></ion-icon>
                </ion-label>
                <ion-label slot="end" class="ion-text-right pr-8">{{infoObj['Bils_No'] || ''}}</ion-label>
            </ion-item>
            <ion-item lines="full" *ngIf="documentList.length">
                <ion-label>
                    供应商编码
                </ion-label>
                <ion-label slot="end" class="ion-text-right pr-8">{{documentList[0]['CardCode'] || ''}}</ion-label>
            </ion-item>
            <ion-item lines="full" *ngIf="documentList.length">
                <ion-label>
                    供应商名称
                </ion-label>
                <ion-label slot="end" class="ion-text-right pr-8"><span>{{documentList[0]['CardName'] || ''}}</span></ion-label>
            </ion-item>
        </ion-list>
    </div>
    <app-table-edit [hasWQL]="true" [columns]="documentColumns" [tableList]="documentList" tableId="SJTableId"></app-table-edit>
</ion-content>
<ion-footer>
    <ion-button expand="block" mode='ios' (click)="submit()" [disabled]="!documentList.length">
        {{title}}
    </ion-button>
</ion-footer>
