<ion-content fullscreen="true">
  <h6>
    <ion-text>
      质检功能
    </ion-text>
  </h6>
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor='let item of qualityList' class="icon-box" (click)="goPage(item)">
        <div (click)="goPage(item)">
          <img [src]="item.icon" class="icon">
          <ion-text class="title">{{item.name}}</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h6>
    <ion-text>
      仓库管理功能
    </ion-text>
  </h6>
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor='let item of storehouseList' class="icon-box">
        <div (click)="goPage(item)">
          <img [src]="item.icon" class="icon">
          <ion-text class="title">{{item.name}}</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
