.icon-box {
  text-align: center;
  padding   : 10px 4px;
}

.icon {
  display   : block;
  max-height: 36px;
  max-width : 30px;
  margin    : 6px auto;
}

.title {
  font-size: 12px;
}

h6 {
  background: #f2f2f2;
  margin    : 0;
  padding   : 10px 21px;
  font-size : 14px;
}
