<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button mode="md"></ion-back-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-margin ion-text-start scan-from">
        <ion-list>
            <app-scan-input [infoObj]="infoObj" (addBar)="scanInput($event)" [scanType]="scanTypeArr"></app-scan-input>
        </ion-list>
    </div>
    <app-table-edit [columns]="documentColumns" [tableList]="documentList" tableId="SJTableId"></app-table-edit>
</ion-content>
<ion-footer>
    <ion-button expand="block" mode='ios' (click)="submit()" [disabled]="!documentList.length">
        {{title}}
    </ion-button>
</ion-footer>
