/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  outline: none !important;
}

.form-input {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  text-align: left;
  --padding-start: 16px;
}

.form-label {
  margin-bottom: 3px;
  display: block;
  padding: 0 3px;
  font-size: 14px;
}

.scan-from button.input-clear-icon.sc-ion-input-ios {
  visibility: initial;
  margin-right: -6px;
}

.scan-from ion-label {
  font-size: 14px;
}

.tableheader {
  position: relative;
  top: 0;
  z-index: 105;
}

.frozencol {
  position: relative;
  background: #ddd;
  z-index: 9;
  //border: none !important;
}

.table-box {
  overflow-x: auto;
  margin: 26px 16px;
  border-right: 1px solid #ddd;

  table {
    font-size: 14px;
    width: auto;
    min-width: 500px;
    font-family: var(--ion-font-family, inherit);
    color: rgba(0, 0, 0, 0.6);
  }

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap;
  }
}
.pr-8{
  padding-right: 8px;
}
.btn-submit{
  margin-bottom: 60px;
}
